.cuerpo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.letrita {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

.nombre {
  color: white;
}